body {margin: 0;}
#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #02476f;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden; 
	text-align: center; 
	padding: 5px;
}

.lbLoading {
	background: #02476f url(loading.gif) no-repeat center;
}

#lbImage {
	border: 10px solid #02476f;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(prevlabel.gif) no-repeat 0% 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 1.4em;
	text-align: left;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 23px;
	height: 23px;
	background: transparent url(close.png) no-repeat center;
	margin: 5px 0;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}
