---
title: iDive - To the depths
---


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
  
  	<head>
    
    	<title>iDive - To the Depths</title>
		
		<link rel="stylesheet" href="css/idive.css" type="text/css" media="screen" />	
		<link rel="stylesheet" href="css/videobox.css" type="text/css" media="screen" />
	
    	
   	 	<meta property="og:title" content="iDive"/>
   	 	<meta property="og:type" content="Product"/>
    	<meta property="og:url" content="http://www.idivehousing.com.com"/>
    	<meta property="og:image" content="http://www.idivehousing.com/i/"/>
    	<meta property="og:site_name" content="To the Depths"/>
    	<meta property="og:description" content="-"/>
              
        <script type="text/javascript" src="js/mootools.js"></script>
		<script type="text/javascript" src="js/swfobject.js"></script>
		<script type="text/javascript" src="js/videobox.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
           
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36356214-1']);
  _gaq.push(['_setDomainName', 'idivehousing.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>   
<script type="text/javascript">
	var jQ = jQuery.noConflict();
	jQ(document).ready(function(){
		jQ('#close').click(function() {
			jQ('.popup').hide();
		});
	});
</script>     
</head> 

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=265790813451462";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--
<div class="popup">
	<div id="lbOverlay" style="visibility: visible; zoom: 1; opacity: 0.8; top: 0px; height: 100%;"></div>
     <div id="scubahack" class="modal mini-container">
     	<div class="deep-info" style="padding-top:0; width:auto;">
           <div class="deep-no">Participate in #scubahack!</div>
           <div class="deep-text" style="width:auto;">
                We're hosting the world's first underwater hackathon. Join us in San Francisco from August 2nd&#8212;4th at General Assembly. 
               <span class="deep-text-title">Register by July 31st.</span>
         	</div>
            <div class="clear"><br /><br /></div>
            <ul>
 				<li class="buy"><a href="http://eepurl.com/BJ1n9">Apply Now</a></li>
 				<li><a id="close">Continue to iDive Home</a></li>
 			</ul>
     	</div>
        </div>
</div>
-->

<div id="outer"> 
 
	<div id="contain-all"> 
		
		<div id="home">
		
		<div id="container">
			
			
			
			<div id="main" class="main-image">
 			
 				{% include top.html %}
 			
 				<div class="mini-container">
 			
 					<div id="big-title">
 			
 						Take your iPad<br />
						to uncharted depths
 			
 					</div>
 			
 					<div id="big-button">
 			
 						<a href="http://vimeo.com/moogaloop.swf?clip_id=52735176" rel="vidbox 940 510">Watch it work</a>
 			
 					</div>
 			
 				</div>
 			
 			</div>
 			
 			
 			<!--
 			<div id="home-quote">
 			
 				<div class="mini-container">
 				
 					<div id="quote">
 				
 						"They took an old technology,<br /> and took it to new depths."<br />
 						<span class="quote-small-text">- Jasdeep Garcha, founder, Bar and Bean</span>
 				
 					</div>
 			
 					<div id="diver">
 					
 						<img src="i/diver-dude.png" border="0"/>
 					
 					</div>
 				
 				</div>
 			
 			</div>
 			-->
 			
 			{% include foot.html %}
 			
			
			
 		</div>
 	
 		</div>
 	
	</div> 
	
</div> 
 
</body> 
 
</html> 
