---
title: iDive
---


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
  
  	<head>
    
    	<title>iDive</title>
		
		<link rel="stylesheet" href="css/idive.css" type="text/css" media="screen" />	
		<link rel="stylesheet" href="css/videobox.css" type="text/css" media="screen" />
	
    <!-- Add jQuery library -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/vendor/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/vendor/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    	
   	 	<meta property="og:title" content="iDive"/>
   	 	<meta property="og:type" content="Product"/>
    	<meta property="og:url" content="http://www.idivehousing.com.com"/>
    	<meta property="og:image" content="http://www.idivehousing.com/i/"/>
    	<meta property="og:site_name" content="To the Depths"/>
    	<meta property="og:description" content="-"/>
           
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36356214-1']);
  _gaq.push(['_setDomainName', 'idivehousing.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>   
</head> 

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=265790813451462";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="outer"> 
 
	<div id="contain-all"> 
		
		<div id="home">
		
		<div id="container">
			
			
			
			<div id="main" class="main-image">
 			
 				{% include top.html %}
 			
 				<div class="mini-container">
 			
 					<div id="big-title">
 			
 						Take your iPad<br />
						to uncharted depths
 			
 					</div>
 			
 					<div id="big-button">
 			
            <a class="various fancybox.iframe" href="http://player.vimeo.com/video/79384048">Watch it work</a>
 			
 					</div>
 			
 				</div>
 			
 			</div>
 			 			
 			{% include foot.html %}
			
 		</div>
 	
 		</div>
 	
	</div> 
	
</div> 
 
</body> 
<script>
$(document).ready(function() {
	$(".various").fancybox({
		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
});
</script>
</html> 
