
 					
 					
 			<div id="footer">
 			
 				<div class="mini-container">
 			
 					<div id="copyright">&copy; 2009-2013</div>
 					
 					<div id="social">
 						
 						<ul>
 						
 							<li><a href="https://plus.google.com/105409988478789153320"><img src="http://idivehousing.com/i/social-google.png"/></a></li>
 							<li><a href="http://www.facebook.com/idivehousing"><img src="http://idivehousing.com/i/social-facebook.png"/></a></li>
 							<li><a href="https://twitter.com/idivehousing"><img src="http://idivehousing.com/i/social-twitter.png"/></a></li>
 									
 						</ul>
 					
 					</div>
 					
 					<div id="foot-menu">
 					
 						<ul>
 						
 							<li><a href="http://idivehousing.com/features">Features</a></li>
 							<li><a href="http://idivehousing.com/about">About</a></li>
 							<li class="buy"><a href="http://idivehousing.com/buy">Buy</a></li>
 									
 						</ul>
 					
 					</div>
 			
 				</div>
 			
 			</div>
