			<div id="top">
 			
 				<div class="mini-container">
 				
 					<div id="logo"><a href="http://idivehousing.com/"><img src="http://idivehousing.com/i/idive-logo.png" border="0"/></a></div>
 					
 					<div id="tagline">To the Depths</div>

 					<div id="menu">
 						
 						<ul>
 						
 							<li><a href="http://idivehousing.com/features">Features</a></li>
 							<li><a href="http://idivehousing.com/about">About</a></li>
 							<li class="buy"><a href="http://idivehousing.com/buy">Buy</a></li>
 									
 						</ul>
 						
 					</div>
 			
 				</div>
 				
 			</div>
