---
title: iDive - To the depths
---

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
  
  	<head>
    
    	<title>iDive - To the Depths</title>
		
		<link rel="stylesheet" href="../css/idive.css" type="text/css" media="screen" />		
    	
   	 	<meta property="og:title" content="iDive - About"/>
   	 	<meta property="og:type" content="Product"/>
    	<meta property="og:url" content="http://www.idivehousing.com.com"/>
    	<meta property="og:image" content="http://www.idivehousing.com/i/"/>
    	<meta property="og:site_name" content="To the Depths"/>
    	<meta property="og:description" content="-"/>
              
        <script src="js/jquery-1.7.2.min.js"></script>
        <script src="js/lightbox.js"></script>      
              
           
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36356214-1']);
  _gaq.push(['_setDomainName', 'idivehousing.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script> 
	</head> 

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=265790813451462";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="outer"> 
 
	<div id="contain-all"> 
		
		<div id="container">
			
			
			<div id="main">
 			
 				{% include top.html %}
 			
 				<div class="mini-container">
 			
 					<div id="big-title">
 			
 						Features
 			
 					</div>
 				
 					<div id="feature-text">
 					
 						iDive's core enabling technology is the Balance Module that internally pressurizes the casing and retains the spacing between casing membrane and electronic device screen as you go dive deeper.
 					
 					</div>
 				
 					<div id="comparisons">
 					
 						<img src="../i/comparisons.png" border="0"/>
 					
 					</div>
 			
 				</div>
 			
 			</div>
 			
 			
 			
 			<div id="deep">
 			
 				<div class="mini-container">
 				
 					<div id="feature-title">See it work, depth by depth.</div>
 			
 					<div class="deep-info">
 				
 						<div class="deep-no">1</div>
 				
 						<div class="deep-text">
 					
 							<span class="deep-text-title">Above Water</span><br />
 							The iDive is fully functional 
 							without any internal pressure 
 							adjustments.
 					
 						</div>
 				
 					</div>
 			
 					<div class="deep-images">
 				
 						<img src="../i/ipad-deep.png" border="0"/>
 					
 					</div>
 				
 				</div>
 			
 			</div>
 			
 			
 			
 			<div id="deeper">
 			
 				<div class="mini-container">
 				
 					<div class="deep-info">
 				
 						<div class="deep-no">2</div>
 				
 						<div class="deep-text">
 					
 							<span class="deep-text-title">At 1m deep</span><br />
 							The iDive, and other similar
 							waterproof casings will work 
 							just under the surface without
 							any pressure adjustments.
 					
 						</div>
 				
 					</div>
 			
 					<div class="deep-images">
 				
 						<img src="../i/ipad-deeper.png" border="0"/>
 					
 					</div>
 				
 				</div>
 			
 			</div>
 			
 			
 			
 			<div id="deepest">
 			
 				<div class="mini-container">
 				
 					<div class="deep-info">
 				
 						<div class="deep-no">3</div>
 				
 						<div class="deep-text">
 					
 							<span class="deep-text-title">At 2m and deeper</span><br />
 							The iDive sets itself apart 
 							from the competition when 
 							pressure at depths comes into 
 							the equation.  We have tested the iDive down 
 							to as deep as 100 ft to date, 
 							able to use the touch screen fully.
 					
 						</div>
 				
 					</div>
 			
 					<div class="deep-images">
 				
 						<img src="../i/ipad-deepest.png" border="0"/>
 					
 					</div>
 				
 				</div>
 			
 			</div>
 			
 			
 			
 			{% include foot.html %}
 			
			
			
 		</div>
 	
	</div> 
	
</div> 
 
</body> 
 
</html> 
